/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 1920px;
	height: 5548px;
	margin: 0 auto;
}
.container{
	width: 1171px;
	margin: 0 auto;
}
.header{
	width: 1920px;
	height: 127px;
	background: white;
}
.menu{
	width: 100%;
	height: 127px;
	float:left;
}
.menu ul{
	list-style: none;
	margin-top: 58px;
}
.menu ul li{
	float:left;
	margin-left: 46px;
	height: 65px;
	transition-duration: 0.3s;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	transition-duration: 0.3s;
}
.menu ul li a:hover{
	color: #ff9934;
}
.menu ul li:hover{
	border-bottom: 4px solid #ff9934;
}
.content{
	width: 1920px;
	height: 4598px;
}
.banner{
	width: 1920px;
	height: 1080px;
	background-image: url("../img/Img.png");
	position: relative;
}
.title{
	width: 225px;
	height: 153px;
	position: absolute;
	top: 118px;
	left: 849px;
}
.line{
	width: 27px;
	height: 2px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
}
.title h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	font-weight: normal;
	color: white;
	margin-top: 56px;
}
.title img{
	margin-top: 34px;
	margin-left: 44px;
}
.slogan{
	width: 695px;
	height: 215px;
	position: absolute;
	top: 477px;
	left: 615px;
}
.slogan h1{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 58px;
}
.thin-line{
	width: 125px;
	height: 1px;
	background: white;
	margin-top: 38px;
}
.slogan p{
	font-family: 'Merriweather', serif;
	font-size: 22px;
	color: white;
	margin-top: 38px;
}
.prev{
	width: 78px;
	height: 111px;
	position: absolute;
	top: 487px;
	left: 0;
}
.prev .line{
	margin-top: 55px;
	margin-left: 0;
}
.prev .rotate{
	transform: rotate(90deg);
	position: absolute;
	left: 32px;
	top: 45px;
}
.prev .rotate a{
		text-decoration: none;
}
.prev .rotate a span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 3px;
	color: white;
}
.next{
	width: 78px;
	height: 111px;
	position: absolute;
	top: 487px;
	right: 0px;
}
.next .line{
	margin-top: 55px;
	margin-right: 0;
}
.next .rotate{
	transform: rotate(-90deg);
	position: absolute;
	right: 34px;
	top: 40px;
}
.next .rotate a{
		text-decoration: none;
}
.next .rotate a span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 3px;
	color: white;
}
.about{
	width: 1920px;
	height: 1134px;
	margin: 0 auto;
	background: white;
}
.introduce{
	width: 100%;
	height: 763px;
}
.introduce-image{
	width: 533px;
	height: 616px;
	float: left;
	position: relative;
	margin-top: 148px;
}
.introduce-image1{
	position: absolute;
	left: -45px;
	bottom: -50px;
}
.introduce-image2{
	position: absolute;
	top: -35px;
	right: -35px;
}
.introduce-text{
	width: 565px;
	height: 498px;
	float: right;
	margin-top: 266px;
}
.introduce-text h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 26px;
}
.introduce-text .thin-line{
	margin-top: 24px;
	width: 70px;
	background: #ff9934;
}
.introduce-text h3{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 5px;
	margin-top: 38px;
}
.introduce-text p{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 38px;
	line-height: 36px;
}
.sign-box{
	width: 261px;
	height: 71px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 53px;
}
.sign{
	width: 112px;
	height: 71px;
	float:left;
}
.name{
	width: 149px;
	height: 71px;
	float:left;
}
.name span{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: lighter;
	line-height: 70px;
}
.works{
	width: 100%;
	height: 371px;
}
.works-box{
	width: 364px;
	height:124px;
	display: inline-block;
	margin-top: 96px;
	margin-left: 35px;
}
.custom-box{
	margin-left: 0px !important;
}
.works-box-icon{
	width: 78px;
	height: 78px;
	float: left;
	background: white;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
}
.works-box-icon img{
	margin-top: 26px;
	margin-left: 26px;
}
.works-box-text{
	width: 261px;
	height: 124px;
	float: right;
}
.works-box-text h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.works-box-text p{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 22px;
}
.feedback{
	width: 1920px;
	height: 708px;
	background-image: url("../img/Img feedback.png");
}
.feedback h2{
	text-align: center;
	padding-top: 147px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	letter-spacing: 3px;
}
.feedback p{
	text-align: center;
	padding-top: 63px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-style: italic;
	letter-spacing: 1px;
	margin-left: 587px;
	margin-right: 587px;
	line-height: 30px;
}
.clients-box{
	width: 664px;
	height: 108px;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.button1{
	width: 63px;
	height: 63px;
	position: absolute;
	top: 22px;
}
.button2{
	width: 63px;
	height: 63px;
	position: absolute;
	top: 22px;
	left: 600px;
}
.clients-image{
	width: 82px;
	height: 82px;
	float: left;
	margin-left: 50px;
	margin-top: 12px;
}
.custom-image{
	margin-left: 166px !important;
}
.clients-image a img{
	width: 82px;
}
.clients-image a img:hover{
	width: 108px;
	margin-top: -12px;
	margin-left: -13px;
}
.feedback h4{
	text-align: center;
	padding-top: 27px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.custom{
	margin-top: -60px;
}
.members{
	width: 1920px;
	height: 780px;
}
.big-title h1{
	text-align: center;
	padding-top: 154px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.thin-line-custom{
	margin-top: 34px;
	width: 70px;
	background: #ff9934;
	margin-left: auto;
	margin-right: auto;
}
.members-box{
	width: 370px;
	height: 502px;
	background: white;
	display: inline-block;
	margin-top: 47px;
	margin-left: 26px;
	cursor: pointer;
	transition-duration: 0.3s;
}
.members-box img{
	margin-top: 43px;
	margin-left: 95px;
}
.members-box h4{
	text-align: center;
	padding-top: 25px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.members-box p{
	text-align: center;
	padding-top: 10px;
	color: grey;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}
.members-box:hover{
	-webkit-box-shadow: 10px 10px 62px -3px rgba(0,0,0,0.37);
-moz-box-shadow: 10px 10px 62px -3px rgba(0,0,0,0.37);
box-shadow: 10px 10px 62px -3px rgba(0,0,0,0.37);
}
.projects{
	width: 1920px;
	height: 901px;
	position: relative;
}
.projects-image{
	width: 420px;
	height: 264px;
	margin-left: 46px;
	margin-top: 46px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.projects-image .img-bot{
	position: absolute;
	z-index: 1;
}
.img-text{
	width: 401px;
	height: 246px;
	position: absolute;
	background-image: url("../img/Over .png");
	z-index: 2;
	top: 10px;
	left: 10px;
	opacity: 0;
	transition-duration: 0.3s;
}
.img-text:hover{
	opacity: 1;
}
.img-text h4{
	text-align: center;
	padding-top: 98px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
.img-text p{
	text-align: center;
	padding-top: 14px;
	color: orange;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}
.projects-custom-image{
	width: 421px;
	height: 578px;
	position: absolute;
	top: 277px;
	left: 516px;
}
.custom-img-text{
	width: 408px;
	height: 558px;
}
.custom-img-text h4{
	padding-top: 245px;
}
.footer{
	width: 1920px;
	height: 823px;
	background: #333333;
}
.footer h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: normal;
	color: white;
	margin-top: 80px;
}
.social-media{
	float: left;
	margin-left: 20px;
	margin-top: 42px;
	cursor: pointer;
}
.custom-social-media{
	margin-left: 885px;
}
.footer p{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-top: 110px;
	text-align: center;
}